<div class="container mt-4">
  <h2 class="mb-4">Movies</h2>
  
  <div class="row">
    @for(movie of movies; track movie.id){
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img [src]="movie.poster" class="card-img-top" [alt]="movie.titulo">
        <div class="card-body">
          <h5 class="card-title">{{ movie.titulo }}</h5>
          <p class="mb-1"><strong>{{ movie.duracion_minutos }} min</strong></p>
          <p class="mb-2">{{ movie.director }}</p>
          <a href="/movie/{{movie.id}}" class="btn btn-primary btn-sm">
            Detalles
          </a>
        </div>
      </div>
    </div>
    }
  </div>
</div>